@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROJETO</h1>
    <p class="lead" style="color:grey">TEMA/DOMÍNIO:5119 – Estrutura  de  dados  estática, composta  e  dinâmica – CET 53</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introdução</h2>
        <p style="color:#03dac6">
            No âmbito da unidade de formação de Estrutura de dados estática,  
            composta e dinâmica propõem-se a conceção de um sistema de informação
            para uma Escola, usando a linguagem C#.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Em desenvolvimento - Frontend</h2>
        <p style="color:#03dac6">
            Frontend: Em principio está tudo concluido<br />  <br />
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Em desenvolvimento - Backend</h2>
        <p style="color:#03dac6">
            Backend: Em principio está tudo concluido <br />  <br />
            É necessário ainda, relativamente aos emails, introduzir a possibilidade de os adicionar na criação de um aluno. Neste momento é apenas possivel através dos detalhes <br />  <br />
            Deste modo, é possivel escalar a app, caso se queiram adicionar funcionários, visto que as bases de dados email e contactos são independentes. <br />  <br />
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>